@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    scroll-behavior: smooth;
  }
  
  .reserved-date { 
      color: #545454 ;
      pointer-events: none; 
  }
      
  ::-webkit-scrollbar {
    width: 4px;
    height: 12px;
  }
 
  
  ::-webkit-scrollbar-track {
    background: #ffffff;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #ff0048ab;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    width: 8px;
    background: #c3c3c3;
  }
  

  /* Define custom blue color and its variations */
/* Define custom shades of #ff0048ab */
.vc-custom-pink {
  --vc-accent-50: #f8c8d8;   /* Lightest */
  --vc-accent-100: #f1a1b1;
  --vc-accent-200: #e77a8a;
  --vc-accent-300: #e15363;
  --vc-accent-400: #d82c3c;
  --vc-accent-500: #ff0048ab; /* Base */
  --vc-accent-600: #e6003f;
  --vc-accent-700: #cc0036;
  --vc-accent-800: #b3002d;
  --vc-accent-900: #990024;   /* Darkest */
}



/* From Uiverse.io by cohencoo */ 
.custom-loader {
  width: 70px;
  height: 70px;
  background: #d1225c;
  border-radius: 50px;
  -webkit-mask: radial-gradient(circle 31px at 50% calc(100% + 13px),#000 95%,#0000) top 4px left 50%,
    radial-gradient(circle 31px,#000 95%,#0000) center,
    radial-gradient(circle 31px at 50% -13px,#000 95%,#0000) bottom 4px left 50%,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  -webkit-mask-repeat: no-repeat;
  animation: cu10 1.5s infinite;
}

@keyframes cu10 {
  0% {
    -webkit-mask-size: 0    18px,0    18px,0    18px,auto
  }

  16.67% {
    -webkit-mask-size: 100% 18px,0    18px,0    18px,auto
  }

  33.33% {
    -webkit-mask-size: 100% 18px,100% 18px,0    18px,auto
  }

  50% {
    -webkit-mask-size: 100% 18px,100% 18px,100% 18px,auto
  }

  66.67% {
    -webkit-mask-size: 0    18px,100% 18px,100% 18px,auto
  }

  83.33% {
    -webkit-mask-size: 0    18px,0    18px,100% 18px,auto
  }

  100% {
    -webkit-mask-size: 0    18px,0    18px,0    18px,auto
  }
}